<header class="site-header">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/img/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>

    <!-- Google Search Link -->
	<div class="cse">
		<!--
	    <a href="https://cse.google.co.kr/cse/publicurl?cx=016763716178250373545:qnb3pggnuki">Search</a>
		-->
		<input type="text" id="query" name="query" class="gquery" value="" onkeypress="if (event.keyCode == 13){javascript:if(query.value!=''){window.open(url.value+query.value);}}" />
		<button class="gbtn" onClick="javascript:if(query.value!=''){window.open(url.value+query.value);}" target="_blank"></button>
		<input type="hidden" value="https://www.google.co.kr/search?q=site%3Anous.github.io%20" id="url" name="url" />
	</div>

	<!--
	<nav class="site-nav">
		<ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
			{% include icons.html %}
		</ul>
	</nav>
	-->
</header>
