@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
  font-family: lexisaebomrwoff;
  font-style: normal;
  src: url(/font/lexisaebomrwoff.woff) format('woff');
}

@font-face {
  font-family: ridibatangwoff;
  font-style: normal;
  src: url(/font/ridibatangwoff.woff) format('woff');
}

@font-face {
  font-family: georgiawoff;
  font-style: normal;
  src: url(/font/georgiawoff.woff) format('woff');
}

@font-face {
  font-family: unknowngothicwoff;
  font-style: normal;
  src: url(/font/unknowngothicwoff.woff) format('woff');
}

@font-face {
  font-family: NanumBarunGothicLightwoff;
  font-style: normal;
  src: url(/font/NanumBarunGothicLightwoff.woff) format('woff');
}

.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .cse {
    float: right;
    font-family: arial, unknowngothicwoff, san-serif;
    font-size: 1.1em;
    font-weight: bold;
  }

  .cse input#query {
    border-width: 0 0 2px 0;
    outline: none;
    width: 80%;
    font-size: 80%;
    font-weight: normal;
    margin-right: -2em;
  }

  .cse button.gbtn {
    border: 1px;
    outline: none;
    background: url(/img/search.png) center center no-repeat;
    float: right;
    height: 25px;
    width: 25px;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
    }
    @media (max-width: 1100px) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }
}
